body {
    background-color: lightpink; 
    padding: 5px; 
    margin: 0; 
}

h1, h2, p, ul, li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul.header li {
    display: inline; 
    list-style-type: none; 
    padding-right: 3rem; 
    padding-left: 3rem; 
    
}
ul.header {
    margin-left:0; 
    margin-right: 0; 
    text-align: center; 
    height: 10vh; 
}
h1 {
    text-align: center; 
    font-style: italic;
}